.body{
    background: #FFFFFF;
    font-family: 'Roboto', 'Raleway';
}
.colorweb {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.webStudio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    color: black;
}
.studio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
}

.a_studio {
    list-style: none;

}
.portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}

.contakts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;

}

.e-mail:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
}

.tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
}
.info_button:hover{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin: auto;
    text-align: center;
}
.style_p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    
    letter-spacing: 0.03em;
    
    color: #757575;
}
.style_h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.webStudio_2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: black;
}

.footer_studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.link_footer{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7em;
        letter-spacing: 0.03em;
}